.section1_container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.image_container {
    max-width: 500px;

    img {
        width: 100%;
    }
}

.text_container {
    max-width: 800px;
    margin: 0 auto;
    h1 {
        text-align: center;
    }

    p {
        text-align: justify;
        text-justify: inter-word;
    }
}
